<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApsfyEsfGuRCQX5Da0gDUXhWVU9V3oL1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>220915547615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dashEats</string>
	<key>PROJECT_ID</key>
	<string>dash-eats-63093</string>
	<key>STORAGE_BUCKET</key>
	<string>dash-eats-63093.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220915547615:ios:b580898664ecd40624d86a</string>
</dict>
</plist>